.header {
    background: rgba(33, 33, 33, .8);

    .header__wrapper {
        align-items: center;
        color: #FFF;
        display: flex;
        margin: 0 auto;
        max-width: 960px;
        padding: 20px 0;

        .wrapper__image {
            background: url('../../../../static/images/profile.jpg');
            background-size: contain;
            border: 3px solid #FFF;
            border-radius: 5px;
            height: 100px;
            margin-right: 15px;
            width: 100px;
        }

        .wrapper__profile {
            .profile__name {
                font-size: 24px;
                font-weight: 700;
            }

            .profile__profession {
                font-size: 18px;
                font-weight: 600;
                margin: 15px 0;
            }

            .profile__social {
                align-items: center;
                display: flex;

                .social__item {
                    background: #FFF;
                    height: 30px;
                    margin-right: 15px;
                    width: 30px;

                    .item__link {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}