.footer {
    background: #c2b6b6;

    @media (max-width: 480px) { background: #576574; }

    &__wrapper {
        margin: 0 auto;
        max-width: 960px;
        padding: 10px 0;
        text-align: center;

        &-content {
            color: #FFF;
            font-size: 12px;

            .content__link { text-decoration: underline; }
        }
    }
}